<div class="container">

  <h1 class="title">Basic Calculator</h1>

  <div class="result">{{result}}</div>


  <div class="input">{{input}}</div>


  <table align="center" >
    <tr>
      <td colspan="2" type="button" (click)="allClear()">Clear All</td>
      <td type="button" (click)="clear()"><-</td>
      <td>/</td>
    </tr>
    <tr>
      <td type="button" (click)="pressNum('7')">7</td>
      <td type="button" (click)="pressNum('8')">8</td>
      <td type="button" (click)="pressNum('9')">9</td>
      <td>x</td>
    </tr>
    <tr>
      <td type="button" (click)="pressNum('4')">4</td>
      <td type="button" (click)="pressNum('5')">5</td>
      <td type="button" (click)="pressNum('6')">6</td>
      <td>-</td>
    </tr>
    <tr>
      <td type="button" (click)="pressNum('1')">1</td>
      <td type="button" (click)="pressNum('2')">2</td>
      <td type="button" (click)="pressNum('3')">3</td>
      <td>+</td>
    </tr>
    <tr>
      <td type="button" (click)="pressNum('00')">00</td>
      <td type="button" (click)="pressNum('0')">0</td>
      <td colspan="2">=</td>
    </tr>
  </table>
</div>