.container {
  width: 75%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

.result {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.5em;
  border: 0.5px groove;
  border-radius: 2em;
  padding: 0.2em;
  width: 50%;
  margin: 0 auto;
  height: 1.5em;
}

.input {
  text-align: right;
  font-family: 'Fredoka', sans-serif;
  margin-right: 35%;
  padding: 0.2em;
  height: 2em;
}

td {
  padding: 1em;
  border-spacing: 1em;
  height: 2em;
  border: 0.3px solid;
  border-radius: 0.3em;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  background-color: #c0eded;
}

td:hover {
  background-color: turquoise;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
