<div class="container">

  <h1 class="title">Basic Calculator</h1>

  <div class="result">{{result}}</div>


  <div class="input">{{input}}</div>


  <table align="center" >
    <tr>
      <td colspan="2">Clear All</td>
      <td><-</td>
      <td>/</td>
    </tr>
    <tr>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>x</td>
    </tr>
    <tr>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>-</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>+</td>
    </tr>
    <tr>
      <td>00</td>
      <td>0</td>
      <td colspan="2">=</td>
    </tr>
  </table>
</div>